<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/postgres</property>
        <property name="hibernate.connection.autocommit">true</property>
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
		

        
		
        <property name="connection_pool_size">2</property>
    

        <property name="show_sql">false</property>
        
        <mapping class="dominio.Persona"/>
        
    </session-factory>
</hibernate-configuration>
